body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image:linear-gradient(90deg,rgb(22, 22, 168),rgb(119, 15, 179));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.heigth{
  height: 40px;
  
}
.height{
  height:46px;
}
.view{
  height: 40px;
  border:1px solid oldlace;
  text-align: center;
}
.img-div{
  height:inherit
}
.img-div img{
  height:100px
}
.content-div{
  height: 150px;
}
.btn:hover{
  transition: all 0.2s ease-in-out;
  transform: scale(1.05);

}
.btn:active{
  background-color: white !important;
}
